<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <!--    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>-->
    <!--    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>-->
    <script src="{{url_for('static', filename='scripts/htmx.min.js')}}"></script>

    {% block head %}
    {% endblock %}
</head>
<body>
<div class="d-flex" id="wrapper">
    <div class="bg-light border-right" id="sidebar-wrapper">
        <div class="list-group list-group-flush">
            {% for item in sidebar %}
            {% if item.url %}
            <a class="list-group-item list-group-item-action bg-light" href="{{ item.url }}">{{ item.text }}</a>
            {% endif %}
            {% endfor %}
        </div>
    </div>


    <!-- Page Content -->
    <div id="page-content-wrapper">
        <nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom">
            <button class="btn" id="menu-toggle">Menu</button>
            {% block chatbar %}{% endblock %}
        </nav>

        <div class="container-fluid">
            {% block content %}{% endblock %}
        </div>
    </div>

</div>

{% block body %}
{% endblock %}
</body>


<script>
    document.addEventListener('DOMContentLoaded', function () {
        const wrapper = document.getElementById('wrapper');
        const sidebar = document.getElementById('sidebar-wrapper');
        const menuToggle = document.getElementById('menu-toggle');

        // Check the sidebar state on page load
        if (localStorage.getItem('sidebarState') === 'toggled') {
            wrapper.classList.add('toggled');

        }

        // Toggle the sidebar and save the state in local storage
        menuToggle.addEventListener('click', function (e) {
            e.preventDefault();
            wrapper.classList.toggle('toggled');
            wrapper.classList.add('no-transition');
            if (wrapper.classList.contains('toggled')) {
                localStorage.setItem('sidebarState', 'toggled');
            } else {
                localStorage.removeItem('sidebarState');
            }
        });


        // Remove the no-transition class after the page has loaded
        window.addEventListener('load', function () {
            wrapper.classList.remove('no-transition');
        });
    });
</script>
</html>