{% extends 'base.html' %}

{% block head %}
<title>Chat</title>
<link rel="stylesheet" href="{{url_for('static', filename='css/main.css') }}">
{% endblock %}

{% block chatbar %}
<ul class="navbar-nav mr-auto">
    {% for item in chat_navbar %}
    {% if item.url %}
    <li class="nav-item">
        <a class="nav-link" hx-post="{{ item.url }}">{{ item.text }}</a>
    </li>
    {% endif %}
    {% endfor %}
</ul>
{% endblock %}

{% block content %}
<div id="chat-log" hx-on::after-settle="this.scrollTop = this.scrollHeight">
    {{ chat_log | safe }}
</div>
<form hx-post="/query"
      hx-target="#chat-log"
      hx-swap="beforeend"
      id="query-form"
      hx-on::after-request="this.reset()">
    <input id="query-text" type="text" name="query" required>
<!--    <button type="submit">Send</button>-->
</form>


<script>
    document.addEventListener('DOMContentLoaded', function () {
        const sessionID = localStorage.getItem('sessionID') || generateSessionID();
        localStorage.setItem('sessionID', sessionID);
        document.cookie = `sessionID=${sessionID}`;
        // Load chat log from server
        fetch(`/load-chat?session_id=${sessionID}`)
            .then(response => response.json())
            .then(data => {
                const chatLogDiv = document.getElementById('chat-log');
                data.forEach(log => {
                    chatLogDiv.innerHTML += `<span class='user-query'>${log.user_query}</span>`;
                    chatLogDiv.innerHTML += `<div class='chatbot-response'>${log.chatbot_response}</div>`;
                });
                chatLogDiv.scrollTop = chatLogDiv.scrollHeight;
            });

        // Save chat log to local Storage
        const observer = new MutationObserver(() => {
            localStorage.setItem('chatLog', document.getElementById('chat-log').innerHTML);
        });
        observer.observe(document.getElementById('chat-log'), {childList: true, subtree: true});
    });

    function generateSessionID() {
        return Math.random().toString(36).substring(2, 15) + Math.random().toString(36).substring(2, 15);
    }

    function clearChatLog(){
        const chatLogDiv = document.getElementById('chat-log');
        chatLogDiv.innerHTML = '';
        localStorage.removeItem('chatLog');
    }

    document.addEventListener('newSession', function () {
        const newSessionID = generateSessionID();
        localStorage.setItem('sessionID', newSessionID);
        document.cookie = `sessionID=${newSessionID}`;

        clearChatLog();

        fetch(`/load-chat?session_id=${newSessionID}`)
            .then(response => response.json())
            .then(data => {
                const chatLogDiv = document.getElementById('chat-log');
                data.forEach(log => {
                    chatLogDiv.innerHTML += `<span class='user-query'>${log.user_query}</span>`;
                    chatLogDiv.innerHTML += `<div class='chatbot-response'>${log.chatbot_response}</div>`;
                });
                chatLogDiv.scrollTop = chatLogDiv.scrollHeight;
            });

    });

</script>
{% endblock %}

