body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    overflow: hidden;
}
div[class='units']{
    padding: 5px;
    overflow-y: auto;
    border: 1px solid #000000;
    border-radius: 10px;
    background-color: #f0f0f0;
    margin: 10px;
}

#model-container{
    display: flex;
    flex-direction: row;
    margin: auto;
    height: auto;
}
#model-details, #pull-models, #current-model, #switch-model{
    margin:10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: #f9f9f9;
}

#chat-log {
    flex: 1;
    max-height: calc(100vh - 136px);
    overflow-y: auto;
    border-radius: 10px;
    display: inline-block;
    padding: 5px 5px 10px;
}

.user-query, .chatbot-response {
    margin: 5px 10px 5px 10px;
    padding: 6px;
}

.user-query {
    background-color: #f0f0f0;
    color: #333;
    border-radius: 15px;
}

#query-form {
    height: 100px;
    position: fixed;
    width: 100vw;
    margin: 0;
    display:flex;
    flex-direction: column;
    bottom:0;
    z-index: 1000;
}

#query-text {
    width: calc(100% - 20px);
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 10px;
    margin: 10px;
}

input[type="submit"] {
    padding: 5px;
    border-radius: 10px;
    background-color: #007bff;
    color: white;
    cursor: pointer;

}

input[type="submit"]:hover {
    background-color: #0056b3;
}

#spinner{
    width: 20px;
}
.htmx-indicator{
    opacity:0;
    transition: opacity 500ms ease-in;
}
.htmx-request .htmx-indicator{
    opacity:1;
}
.htmx-request.htmx-indicator{
    opacity:1;
}

#wrapper {
    display: flex;
    align-items: stretch;
}

#sidebar-wrapper {
    min-height: 100vh;
    width: 150px;
    margin-left: -150px;
    transition: margin 0.10s ease-out;
}

#wrapper.toggled #sidebar-wrapper {
    margin-left: 0;
}

#page-content-wrapper {
    width: 100vw;

}

.container-fluid {
    padding: 0;
}