body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    font-family: Arial, sans-serif;
    overflow: hidden;
}
div[class='units']{
    padding: 5px;
    overflow-y: auto;
    border: 1px solid #000000;
    border-radius: 10px;
    background-color: #f0f0f0;
    margin: 10px;
}

#model-container{
    display: flex;
    flex-direction: row;
    /*justify-content: flex-end;*/
    margin: auto;
    height: auto;
}
#model-details, #pull-models, #current-model, #switch-model{
    margin:10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: #f9f9f9;
}

#chat-log {
    flex: 1;
    max-height: 85vh;
    overflow-y: auto;
    border-radius: 10px;
    display: inline-block;
    padding: 5px 5px 10px;
}

.user-query, .chatbot-response {
    margin: 5px 10px 5px 10px;
    padding: 7px;
}

.user-query {
    background-color: #f0f0f0;
    color: #333;
    border-radius: 15px;
}


#query-form {
    max-height: 15vh;
    position: fixed;
    width: 100%;
    margin: 0;
    display:flex;
    flex-direction: column;
    bottom:0;
    z-index: 1000;
}

#query-text {
    width: calc(100% - 20px);
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 10px;
    margin: 10px;
}

input[type="submit"] {
    padding: 5px;
    /*border: none;*/
    border-radius: 10px;
    background-color: #007bff;
    color: white;
    cursor: pointer;

}

input[type="submit"]:hover {
    background-color: #0056b3;
}

#spinner{
    width: 20px;
}
.htmx-indicator{
    opacity:0;
    transition: opacity 500ms ease-in;
}
.htmx-request .htmx-indicator{
    opacity:1;
}
.htmx-request.htmx-indicator{
    opacity:1;
}